APP_NAME=
APP_ENV=
APP_DEBUG=false
APP_URL=

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

# === LOGS ===
LOG_CHANNEL=stderr
LOG_LEVEL=info


# === REDIS  ===
REDIS_CLIENT=phpredis
REDIS_HOST=62.171.181.182
REDIS_PORT=6379
REDIS_PASSWORD=null

# === MAIL (configure si tu veux envoyer des emails) ===
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# === FILESYSTEM ===
FILESYSTEM_DISK=local

# === FRONTEND (exposé via Vite) ===
VITE_APP_NAME="${APP_NAME}"
VITE_API_URL=
